
nav button:first-of-type {
    all: unset;
}

h1{

   color:white;
   font-size: calc(16px + 2 * ((100vw - 600px) / 440));
   
}
  

header > nav.open {
   translate:0;
}

header > nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ff005d;
  margin: 0;
  padding: 10px 0;
}

/* Styling voor de hoofditems in de navigatiebalk */
header > nav ul > li {

  color: white;
  font-family: "Casa-bodytekst", sans-serif;
  font-weight: bold;
  cursor: pointer;
  list-style: none;
  text-transform: uppercase;
}

header > nav ul > li > a{
    text-decoration:none;
    color:white;
    font-family: sans-serif;
    font-weight: lighter;
    list-style: none;
    cursor: pointer;
    position: relative;
  }

header > nav ul > li:nth-of-type(4) > ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  padding: 10px 0;
  list-style: none;
  width: 100vw;
  z-index: 10;
}

header > nav ul > li:nth-of-type(4) > ul.show {
    display: block;
  }


