/*////////////////////////////////
           LETTERTYPEN
//////////////////////////////////*/

@font-face {
  font-family: Casa-koptekst;
  src: url("../lettertype/CasaGothicStdv4Bold.woff");
}

@font-face {
  font-family: Casa-bodytekst;
  src: url("../lettertype/AntiqueOliveStd-Light.woff");
}

@font-face {
  font-family: Nav-tekst;
  src: url("../lettertype/Roboto");
}

/* ///////////////////////////
             MAIN 
  /////////////////////////// */

h1 {
  color: var(--whitefont-footer);
  font-size: calc(16px + 2 * ((100vw - 600px) / 440));
}

h2 {
  margin: 0.5em;
  font-size: 2.5em;
  color: var(--fontlightbackground-color);
}

H3 {
  font-size: 1.5em;
  color: var(--fontlightbackground-color);
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: baseline;
  order: -1;
}

H3::after {
  content: "";
  height: 4px;
  background-color: var(--fontlightbackground-color);
  margin-left: 1em;
}

@media (min-width: 600px) {
  h2 {
    font-size: calc(40px + 40 * ((100vw - 600px) / 440));
  }
}

main > section:first-of-type > h2:first-of-type {
  font-size: calc(40px + 40 * ((100vw - 400px) / 440));
  margin: 1em 0em;
}

body {
  background-color: var(--background-body);
}

body {
  position: relative;
  margin: 0;
  background: linear-gradient(
    to bottom,
    var(--header-bg) 750px,
    var(--background-body) 0
  );
}

main {
  margin: 1em;
}

/* section:first-of-type */

section:first-of-type div {
  display: flex;
  flex-wrap: wrap;
}

main > section:first-of-type > div:only-of-type > img:nth-of-type(2) {
  display: none;
}

@media (min-width: 600px) {
  main > section:first-of-type > div:only-of-type > img:first-of-type {
    display: block;
    width: 50%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 7/9;
  }

  main > section:first-of-type > div:only-of-type > img:nth-of-type(2) {
    display: block;
    width: 50%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 7/9;
  }
}

main > section:first-of-type > p > a {
  color: var(--main-color);
}

/* section:nth-of-type(2) */

main > section:nth-of-type(2) {
  display: flex;
  flex-direction: column;
}

/* section:nth-of-type(3) */

section:nth-of-type(3) video {
  border: none;
  width: 100%;
  height: auto;
  aspect-ratio: 560/315;
}

video:focus-visible {
  outline: 2px solid var(--main-color);
  outline-offset: 4px;
}
section:nth-of-type(3) div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
}
section:nth-of-type(3) label {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-family: "Casa-bodytekst", sans-serif;
  color:var(--fontlightbackground-color);
}

main > section:nth-of-type(3) input{
border-radius: 15px;
}

input[type="range"] {
  width: 100%;
  accent-color: var(--main-color);
  height: 6px;
  background: #ddd;
  border-radius: 20px;
  padding: 0.8em 0.4em;
}

section:nth-of-type(3) button {
  background-color: var(--review-pink);
  color: var(--review-pink-text);
  border: none;
  padding: 1em;
  border-radius: 5px;
  font-family: "Casa-bodytekst", sans-serif;
  cursor: pointer;

}

/* section:nth-of-type(4) */
main > section:nth-of-type(4) {
  display: grid;
  gap: 1em;
}

main > section:nth-of-type(4) > h2,
main > section:nth-of-type(4) > h3 {
  grid-column: 1 / -1;
}

@media (min-width: 600px) {
  main > section:nth-of-type(4) {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* section:nth-of-type(5) */

main > section li {
  padding: 1em;
}

main > section:nth-of-type(5) li:first-of-type p {
  color: var(--review-pink-text);
}

main > section:nth-of-type(5) li:nth-of-type(2) p {
  color: var(--review-blue-text);
}

main > section:nth-of-type(5) li:nth-of-type(3) p {
  color: var(--review-green-text);
}

section:nth-of-type(5) img {
  width: 24px;
}

section:nth-of-type(5) ul > li > img:nth-of-type(2) {
  align-self: flex-end;
}

section:nth-of-type(5) > ul {
  display: grid;
  list-style: none;
  gap: 1em;
  padding: 0;
}

section:nth-of-type(5) ul > li {
  display: flex;
  flex-direction: column;
}

@media (min-width: 600px) {
  main > section:nth-of-type(5) ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  main > section:nth-of-type(5) > ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

section:nth-of-type(5) li:first-child {
  background-color: var(--review-pink);
}

section:nth-of-type(5) li:nth-child(2) {
  background: var(--review-blue);
}

section:nth-of-type(5) li:nth-child(3) {
  background: var(--review-green);
}

section:nth-of-type(5) p {
  color: white;
}

/* section:nth-of-type(6) */

section:nth-of-type(6) img {
  width: 100%;
}

section:nth-of-type(2) button:focus-visible,
section:nth-of-type(7) button:focus-visible,
main > section:nth-of-type(4) > button:focus-visible {
  outline: 2px dashed var(--main-color);
  outline-offset: 2px;
}

section > button {
  height: 60px;
  width: 60px;
  background-color: var(--fontdarkbackground-color);
  color: var(--main-color);
  border: 3px solid var(--main-color);
  border-radius: 50%;
  padding: 10px;
  justify-content: center;
  margin: 1em;
  animation-name: buttonDubbelTwist;
  animation-duration: 7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes buttonDubbelTwist {
  0% {
    transform: rotate(0deg);
    scale: 1;
  }
  2.5% {
    transform: rotate(45deg);
    scale: 1.1;
  }
  5% {
    transform: rotate(-45deg);
    scale: 1;
  }
  7.5% {
    transform: rotate(25deg);
    scale: 1.1;
  }

  10% {
    transform: rotate(-25deg);
    scale: 1;
  }

  12.5% {
    transform: rotate(0);
    scale: 1;
  }

  100% {
    transform: rotate(0);
    scale: 1;
  }
}

@media (prefers-reduced-motion: reduce) {
  section > button {
    animation: none;
  }
}

section > button:hover {
  background: #111;
}
